DISABLE_TRACING=1
MONGO_PORT=27017
MONGO_ROOTUSER=admin
MONGO_ROOTPASSWORD=admin
MONGODB_URI="mongodb://admin:admin@localhost:27017/mzinga?authSource=admin&directConnection=true"
PAYLOAD_SECRET=replace-with-a-long-random-local-secret
TENANT=local-tenant
ENV=prod
DRIVER_OPTS_DEVICE=/tmp
DRIVER_OPTS_TYPE=none
DRIVER_OPTS_OPTIONS=bind
MONGO_HOST=localhost
COMPOSE_PROJECT_NAME=mzinga-apps
CORS_CONFIGS=*
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_PUBLIC_DISABLED_ENTITIES_SLUGS=
DEBUG_EMAIL_SEND=1
COMMUNICATIONS_EXTERNAL_WORKER=true
